<template>
    <div>
        <v-toolbar dark color="blue darken-4">
            <v-btn icon v-show="Object.keys($route.params).includes('id')" @click="$router.push('/user/')">
              <v-icon>arrow_back</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-toolbar-title class="white--text">Vue Trello</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
            <v-btn flat @click="quitDialog = true">Logout</v-btn>
            </v-toolbar-items>
        </v-toolbar>

        <Dialog :title="'Finish Session'" :content="'Do you really want to finish your session?'" :showing="quitDialog" :close="closeModal" :onConfirm="signOut"/>    
    </div>    
</template>

<script>
import Dialog from '../dialog/Dialog'
import userInfo from '../../methods/userInfo'

export default {
    components: {
        Dialog
    },
    data: function() {
        return {
            quitDialog: false
        }
    },
    methods: {
        closeModal: function() {
            return this.quitDialog = false
        },
        signOut: function() {
            // clear cache storage and redirect user to login page
            userInfo.clearUserData()
            this.$router.push('/signin')
        }
    }
}
</script>