<template>
    <v-container grid-list-sm>
        <v-flex xs10 xl2 md4 offset-xs1 offset-md4 offset-xl5>
            <img src="../../../assets/logo.png" alt="logo"/> 
            <v-form v-model="valid" ref="form" lazy-validation>
                <v-text-field
                    label="Name"
                    v-model="name"
                    :rules="nameRules"
                    :counter="50"
                    required
                ></v-text-field>
                <v-text-field
                    label="E-mail"
                    v-model="email"
                    :rules="emailRules"
                    required
                ></v-text-field>
                <v-text-field
                    label="Password"
                    v-model="password"
                    :rules="passwordRules"
                    type="password"
                    required
                ></v-text-field>
                <v-text-field
                    label="Confirm Password"
                    v-model="confirmPassword"
                    :rules="confirmPasswordRules"
                    type="password"
                    required
                ></v-text-field>

                <v-flex>
                    <v-btn color="primary" @click="submit">SignUp</v-btn>
                    <router-link :to="'signin'" style="text-decoration: none;"><v-btn flat color="secondary">Back to Login Page</v-btn></router-link>
                </v-flex>
            </v-form>
        </v-flex>
    </v-container>    
</template>

<script>
import axios from 'axios'
import server from '../../../API/config.api'
import userInfo from '../../../methods/userInfo'

export default {
    data: function() {
        return {
            valid: true,
            name: '',
            nameRules: [
                v => !!v || 'Name is required',
                v => (v && v.length) <= 50 || 'Name must contain up to 50 characters'
            ],
            email: '',
            emailRules: [
                 v => !!v || 'E-mail is required',
                 v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'Email must be valid'
            ],
            password: '',
            passwordRules: [
                 v => !!v || 'Password is required',
                 v => (v && v.length) >= 6 || 'Password must contain at least 6 characters'
            ],
            confirmPassword: '',
            confirmPasswordRules: [
                v => !!v || 'Confirm Password is required',
                v => (v && v.length) >= 6 && this.confirmPassword === this.password || 'Password must be exactly the same as Password'                
            ]
        }
    },
    methods: {
        submit () {
            if (this.$refs.form.validate()) {
                // request the creation of user
                axios.post(server.host + '/api/user/create', {
                    name: this.name,
                    email: this.email,
                    password: this.password,
                    confirmPassword: this.confirmPassword
                })
                    .then(response => {
                        const res = response.data

                        // save user info to localstorage
                        userInfo.saveUserInfo(res)

                        alert(`Welcome ${res.user.name}, you will be redirected to your board selection page.`)

                        // redirect the new user to task board selection component
                        this.$router.push('/user')
                    })
                    .catch(err => alert(err.response.data.message))
            }
        }
    }
}
</script>
