<template>
    <v-alert type="warning" color="yellow darken-3" display="block" v-model="alert" v-show="!emailConfirmed" dismissible>
        {{name}}, you must verify your email by clicking the activation link.
    </v-alert>
</template>

<script>
import userInfo from '@/methods/userInfo'

export default {
    data: function() {
        const { name, emailConfirmed } = userInfo.getUserData().user

        return {
            name,
            emailConfirmed,
            alert: true
        }
    }
}
</script>
