<template>
    <v-container grid-list-sm>
        <v-flex xs10 xl2 md4 offset-xs1 offset-md4 offset-xl5>
            <img src="../../../assets/logo.png" alt="logo"/> 
            <v-form v-model="valid" ref="form" lazy-validation>
                <v-text-field
                    label="E-mail"
                    v-model="email"
                    :rules="emailRules"
                    required
                ></v-text-field>
                <v-text-field
                    label="Password"
                    v-model="password"
                    :rules="passwordRules"
                    type="password"
                    required
                ></v-text-field>

                <v-flex>
                    <v-btn color="primary" @click="submit">Signin</v-btn>
                    <router-link :to="'signup'" style="text-decoration: none;"><v-btn flat color="secondary">SignUp</v-btn></router-link>
                </v-flex>
                <v-flex>
                    <router-link :to="'forgotpass'" style="text-decoration: none;"><v-btn flat color="secondary">Forgot my password</v-btn></router-link>
                </v-flex>
            </v-form>
        </v-flex>
    </v-container>
</template>

<script>
import axios from 'axios'
import server from '../../../API/config.api'
import userInfo from '../../../methods/userInfo'

export default {
    data: function() {
        return {
            valid: true,
            email: '',
            emailRules: [
                 v => !!v || 'E-mail is required',
                 v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'Email must be valid'
            ],
            password: '',
            passwordRules: [
                 v => !!v || 'Password is required',
                 v => (v && v.length) >= 6 || 'Password must contain at least 6 characters'
            ]
        }
    },
    methods: {
        submit () {
            if(this.$refs.form.validate()) {
                axios.post(server.host + '/api/user/authenticate', {
                    email: this.email,
                    password: this.password
                })
                    .then(response => {
                        const res = response.data

                        // save user info to localstorage
                        userInfo.saveUserInfo(res)

                        // redirect user to task board selection component
                        this.$router.push('/user')
                    })
                    .catch(err => alert(err.response.data.message))
            }
        }
    }
}
</script>