<template>
    <v-dialog v-model="assignDialog" persistent max-width="500px">
        <v-card>
            <v-card-title>
            <span class="headline">Assign Task</span>
            </v-card-title>
            <v-card-text>
            <v-container grid-list-md>
                <v-layout wrap>
                <v-flex xs12 sm12 md12>
                    <v-form v-model="assignFormValid" ref="form">

                        <v-select
                            label="Task to Assign to"
                            autocomplete
                            v-model="assign"
                            :items="assignList"
                            item-text="name"
                            item-value="_id"
                            :rules="assignRules">                                     
                        </v-select>

                    </v-form>                        
                </v-flex>
                </v-layout>
            </v-container>
            </v-card-text>
            <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="closeDialog()">Close</v-btn>
            <v-btn color="blue darken-1" flat v-on:click="submitAssign" :disabled="!assignFormValid">Assign</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    props: ['guests', 'onAssign', 'onClose', 'show'],
    data: function() {
        return {
            showFabGuest: false,
            fabHidden: false,
            assignDialog: this.show,
            assign: '',
            assignList: [],
            assignListLoading: true,
            assignFormValid: true,
            assignRules: [
                v => v.length > 0 || 'There must be at least 1 guest added.'
            ]
        }
    },
    watch: {
        guests: function(newVal) {
            this.assignList = [...newVal, {name: 'none', _id: 'none'}]
        },
        show: function(newVal) {
            return (this.assignDialog = newVal)
        }
    },
    methods: {
        submitAssign() {
            if(this.$refs.form.validate()) {
                const user = this.assignList.filter(user => user._id === this.assign)
                this.onAssign(...user)
                this.assign = ''
            }
            this.onClose()
        },
        closeDialog() {
            return this.onClose()
        }
    }
}
</script>