<template>
	<v-layout>
		<div class="project-lanes">

			<!-- LANE -->
			<draggable class="draggable-lane-column column" :list="laneData" :options="{draggable:'.columndrag'}">    
				<div class="lane-column" v-for="(lane, index) in laneData" :key="lane._id">
					<div class="lane-title-editable">

						<h2 class="lane-title" @click="lane.editLaneText = true">{{lane.laneName}}</h2>
						<input 
							class="lane-tite-changable" 
							type="text" 
							:value="lane.laneName" 
							:ref="'name'+lane._id"  
							maxlength="25"  
							v-if="lane.editLaneText" 
							v-focus
							@keyup.enter="updateTile('name'+lane._id, lane._id)"
							@keyup.esc="updateTile('name'+lane._id, lane._id, true)"
							@blur="updateTile('name'+lane._id, lane._id)"
						/>

						<div class="column-settings">
							<v-menu bottom left>
								<v-btn flat icon slot="activator" color="gray">
									<v-icon>more_horiz</v-icon>
								</v-btn>
								<v-list>
									<v-list-tile @click="removeList(index, lane._id)" color="red">
										<v-list-tile-title>
											<v-icon color="red">close</v-icon>
											Delete List
										</v-list-tile-title>
									</v-list-tile>
								</v-list>
							</v-menu>
						</div>

					</div>

					<div class="lane-column-in">
						<!-- CARDS -->
						<v-flex>
							<draggable class="draggable-card-area" :list="lane.tasks" :options="{animation: 150, group:'todos'}" @end="handleCardChange" :data-laneid="lane._id">      
								<div class="lane-card" v-for="(laneCard, cardIndex) in lane.tasks" :key="laneCard._id" :data-cardid="laneCard._id">
									<div class="card-texts">
										<template v-if="!laneCard.completed">
											<v-btn flat icon color="yellow" @click="completedTask(true, laneCard._id, index)">
												<v-icon>remove_circle</v-icon>
											</v-btn>
										</template>
										<template v-if="laneCard.completed">
											<v-btn flat icon color="green" @click="completedTask(false, laneCard._id, index)">
												<v-icon>check_circle</v-icon>
											</v-btn>
										</template>
										<div class="assign-to" v-show="laneCard.assignedTo && laneCard.assignedTo.name">
											<div>Assigned: {{laneCard.assignedTo && laneCard.assignedTo.name}}</div>
										</div>
										<div class="card-settings">
											<v-menu bottom left>
												<v-btn flat icon slot="activator" color="gray">
													<v-icon>more_horiz</v-icon>
												</v-btn>
												<v-list>
													<!-- TODO: swipe component card to editable card -->
													<v-list-tile @click="assignDialog = true" v-on:click="getAssignData(lane._id, laneCard._id)" color="gray">
														<v-list-tile-title text-right>
															<v-icon color="gray">mode_edit</v-icon>
															Assign Task
														</v-list-tile-title>
													</v-list-tile>
													<v-list-tile @click="laneCard.editName = true" color="gray">
														<v-list-tile-title text-right>
															<v-icon color="gray">mode_edit</v-icon>
															Edit Card
														</v-list-tile-title>
													</v-list-tile>
													<v-list-tile @click="removeCard(cardIndex, lane._id, laneCard._id)" color="red">
														<v-list-tile-title>
															<v-icon color="red">close</v-icon>
															Delete Card
														</v-list-tile-title>
													</v-list-tile>
												</v-list>
											</v-menu>
										</div>
										<h3 class="card-title mb-0" v-show="!laneCard.editName">{{laneCard.name}}</h3>
										<input 
											class="card-title-input mb-0" 
											type="text"
											maxlength="25"
											:value="laneCard.name"
											v-on:input="laneCard.name = $event.target.value"
											v-focus
											v-if="laneCard.editName"
											@blur="updateCard(laneCard._id, index, laneCard.name, cardIndex)"
										/>
									</div>
								</div>
							</draggable>
						</v-flex>
					</div>

					<!-- ADD CARD -->
					<v-btn class="card-add-btn" flat small v-if="!lane.editAddNewCard" @click="lane.editAddNewCard = true">Add a Card</v-btn>
				
					<div class="card-new" v-if="lane.editAddNewCard">
						<textarea class="lane-card" placeholder="Card title..." maxlength="50" v-model="newCardName" v-focus />
						<div style="margin-top: 1em; text-align: left;">
							<v-btn depressed small color="primary" @click="insertCard(lane._id, index)">Add</v-btn>
							<v-btn flat icon color="red" @click="lane.editAddNewCard = false">
								<v-icon>close</v-icon>
							</v-btn>
						</div>
					</div>
				</div>
				<!-- ADD LIST -->
				<template>
				<div class="lane-column" slot="footer">
					<h3 class="new-column-btn mb-0" style="color: #4e636c;" @click="newListVisible = true">Add new list</h3>

					<div class="new-column" v-if="newListVisible">
					<input 
						class="lane-column-changable" 
						type="text"
						placeholder="Add here your new list"
						maxlength="25"
						v-on:input="updateListInput"
						:value="listName"
						v-focus
					/>
					<div style="margin-top: 1em; text-align: left;">
						<v-btn depressed small color="primary" @click="addNewList">Add</v-btn>
						<v-btn flat icon color="red" @click="newListVisible = !newListVisible"> <v-icon>close</v-icon> </v-btn>
					</div>
					</div>

				</div>
				</template>
				<div slot="footer" style="opacity: 0; padding-left: 1em;"></div>
			</draggable>    

			<!-- add guest component -->
			<AddGuest :author="boardAuthor"/>

			<!-- Assign Task Component -->
			<AssignGuest :show="assignDialog" :onClose="closeAssign" :guests="guestList" :onAssign="assignUser" :card="assignCard"/>
		</div>    
	</v-layout>  
</template>

<script>
import './board.css'
import initialData from "../../../API/fakedata"
import draggable from "vuedraggable"
import AddGuest from './addGuest/AddGuest'
import AssignGuest from './AssignGuest'

import server from '@/API/config.api'
import userInfo from '@/methods/userInfo'
import axios from 'axios'
import Pusher from 'pusher-js'


const socket = new Pusher('b8dce82d00b4674dc89f', {
	encrypted: true
})
let channel

export default {
	components: {
		draggable,
		AddGuest,
		AssignGuest
	},
	data: function() {
		return {
			laneData: [],
			newCardName: '',
			listName: '',
			editCardName: '',
			boardAuthor: '',
			newListVisible: false,
			guestList: [],

			// Assign dialog data
			assignDialog: false,
			assignCard: null,
			assignLaneId: null
		}
	},
	watch: {
		assignDialog: function(newVal) {
			return (this.assignDialog = newVal)
		},
		assignCard: function(newVal) {
			return (this.assignCard = newVal)
		}
	},
	beforeCreate: function() {
		const user = userInfo.getUserData()
		const boardId = this.$route.params.id

		// // subscribe the channel for broadcast event's
		channel = socket.subscribe(`my-channel-${boardId}`)

		channel.bind('lane-create', newLane => {
			this.laneData.push(newLane.data)
		})

		channel.bind('lane-delete', data => {
			const laneRemoved = data.data
			const indexLane = this.laneData.findIndex(lane => lane._id === laneRemoved._id)
			const cardsOfDeletedLane = this.laneData[indexLane].tasks

			this.laneData[indexLane - 1 || 0].tasks.push(...cardsOfDeletedLane)
			this.laneData.splice(indexLane, 1)

		})

		channel.bind('lane-update', data => {
			const laneUpdated = data.data
			const indexLane = this.laneData.findIndex(lane => lane._id === laneUpdated._id)
			this.laneData[indexLane].laneName = laneUpdated.laneName 
		})

		channel.bind('card-create', data => {
			const newCard = data
			const targetLane = this.laneData.findIndex(lane => lane._id == newCard.laneId)
			const laneLength = this.laneData[targetLane].tasks.length

			this.laneData[targetLane].tasks.push(newCard.card)
		})

		channel.bind('card-completed', data => {
			const card = data		
			const laneSelected = this.laneData[card.laneId]
			const cardSelected = laneSelected.tasks.findIndex(taskCard => taskCard._id == card._id)

			return laneSelected.tasks[cardSelected].completed = card.completed
		})

		channel.bind('card-name', data => {
			const card = data
			const laneSelected = this.laneData[card.laneId]
			const cardSelected = laneSelected.tasks.findIndex(taskCard => taskCard._id == card._id)

			return laneSelected.tasks[cardSelected].name = card.name
		})

		channel.bind('card-remove', data => {
			const card = data
			const columnSelected = this.laneData.findIndex(column => column._id == card.laneId)
			const laneSelected = this.laneData[columnSelected]

			return laneSelected.tasks.splice(card.cardPosition, 1)
		})

		channel.bind('card-assign', data => {
			const card = data
			const columnSelected = this.laneData.findIndex(column => column._id == card.laneId)
			const laneSelected = this.laneData[columnSelected]
			const cardSelected = laneSelected.tasks.findIndex(singleCard => singleCard._id == card._id)
			const userSelected = this.guestList.filter(user => user._id === card.user)

			return laneSelected.tasks[cardSelected].assignedTo = userSelected[0]
		})

		channel.bind('card-changing', data => {
			const card = data
			const lanes = this.laneData
			const laneColumnFrom = this.laneData.findIndex(column => column._id == card.laneFrom)
			const laneColumnTo = this.laneData.findIndex(column => column._id == card.laneTo)

			const cardLane = lanes[laneColumnFrom].tasks.findIndex(singleCard => singleCard._id == card.cardId)

			// if is not the user that is changing
			if(cardLane >= 0) {
				lanes[laneColumnFrom].tasks.splice(cardLane, 1)
				lanes[laneColumnTo].tasks.push(card.card)
			} else {
				const cardUser = lanes[laneColumnTo].tasks.findIndex(cardToRemove => cardToRemove._id == card.cardId)
				
				lanes[laneColumnTo].tasks.splice(cardUser, 1)
				lanes[laneColumnTo].tasks.push(card.card)
			}
		})
	},
	created: function() {
		// get all board data
		this.getBoard()
	},
	destroyed: function() {
		const boardId = this.$route.params.id
		// unsubscribe the channel when leaving component
		channel = socket.unsubscribe(`my-channel-${boardId}`)
	},
	methods: {
		handleCardChange(event) {
			const boardId = this.$route.params.id		
			const user = userInfo.getUserData()
				
			const data = {
				card: event.item.getAttribute('data-cardid'),
				laneFrom: event.from.getAttribute('data-laneid'),
				laneTo: event.to.getAttribute('data-laneid')
			}
		
			axios.post(server.host + `/api/card/changing/${boardId}`,
			{ cardId: data.card, laneFrom: data.laneFrom, laneTo: data.laneTo },
			{ headers: { "Authorization": `Bearer ${user.token}` },})
				.then(response => {
					return
				})
				.catch(err => alert(err.response.data.message))			
		},
		inputChanged(value) {
			this.activeNames = value;
		},
		getComponentData() {
			return {
				on: {
					change: this.handleCardChange,
					input: this.inputChanged
				}
			}
		},
		getBoard() {
			const boardId = this.$route.params.id
			const user = userInfo.getUserData()

			axios.get(server.host + `/api/board/getBoard/${boardId}`,
			{ headers: { "Authorization": `Bearer ${user.token}` },})
				.then(response => {
					const res = response.data

					this.laneData = res.lanes
					this.boardAuthor = res.author
					this.guestList = res.guests

					// redirect to user page if board does not exists
					typeof this.laneData === 'undefined' && this.$router.push('/user')
				})
				.catch(err => alert(err.response.data.message))
		},

		updateTile: function(input, id, noEffect = false) {
			const inputTitleLane = this.$refs[input][0]
			const targetLane = this.laneData.findIndex(lane => lane._id == id)
			const laneName = this.laneData[targetLane].laneName

			if (noEffect === true) {
				inputTitleLane.value = laneName
				return this.laneData[targetLane].editLaneText = false
			}

			if (inputTitleLane.value.toString().length === 0) return this.laneData[targetLane].editLaneText = true

			if (inputTitleLane.value === laneName) return this.laneData[targetLane].editLaneText = false

			const laneSelected = this.laneData
			const boardId = this.$route.params.id
			const user = userInfo.getUserData()

			axios.post(server.host + `/api/lane/update/${boardId}`,
			{ _id: id, laneName: inputTitleLane.value },
			{ headers: { "Authorization": `Bearer ${user.token}` },})
				.then(response => {
					this.laneData[targetLane].laneName = inputTitleLane.value
					this.laneData[targetLane].editLaneText = false					
				})
				.catch(err => alert(err.response.data.message))
		},
		insertCard: function(id, index) {
			const boardId = this.$route.params.id
			const user = userInfo.getUserData()

			if (this.newCardName.length <= 0) return
			
			axios.post(server.host + `/api/card/create/${boardId}`,
			{ name: this.newCardName, _id: id },
			{ headers: { "Authorization": `Bearer ${user.token}` },})
				.then(response => {
					const targetLane = this.laneData.findIndex(lane => lane._id == id)

					this.laneData[targetLane].editAddNewCard = false
					this.newCardName = ""

					// when add a card, scroll all it down...
					setTimeout(function() {
						const laneColumn = document.querySelectorAll(".lane-column-in")
						laneColumn[index].scrollTo(0, laneColumn[index].scrollHeight)
					}, 0)

				})
				.catch(err => alert(err.response.data.message))
		},
		updateCard: function(id, laneId, newCardName, cardIndex) {
			const boardId = this.$route.params.id
			const user = userInfo.getUserData()

			axios.post(server.host + `/api/card/name/${boardId}`,
			{ name: newCardName, _id: id, laneId },
			{ headers: { "Authorization": `Bearer ${user.token}` },})
				.then(response => {
					const laneSelected = this.laneData

					return laneSelected[laneId].tasks[cardIndex].editName = false
				})
				.catch(err => alert(err.response.data.message))
		},
		removeCard: function(index, columnId, cardId) {
			const boardId = this.$route.params.id
			const user = userInfo.getUserData()
			const confirmRemove = confirm('Are you sure you want to delete this card?')

			if(confirmRemove) {
				axios.post(server.host + `/api/card/remove/${boardId}`,
				{ _id: cardId, cardPosition: index, laneId: columnId },
				{ headers: { "Authorization": `Bearer ${user.token}` },})
					.then(response => {
						return
					})
					.catch(err => alert(err.response.data.message))
			}	
		},
		completedTask: function(bool, id, laneIndex) {
			const boardId = this.$route.params.id
			const user = userInfo.getUserData()
			
			axios.post(server.host + `/api/card/completed/${boardId}`,
			{ _id: id, bool, laneId: laneIndex },
			{ headers: { "Authorization": `Bearer ${user.token}` },})
				.then(response => {
					return
				})
				.catch(err => alert(err.response.data.message))
		},
		updateListInput: function(e) {
			this.listName = e.target.value
		},
		addNewList: function() {
			const boardId = this.$route.params.id
			const user = userInfo.getUserData()
			
			axios.post(server.host + `/api/lane/create/${boardId}`,
			{ laneName: this.listName },
			{ headers: { "Authorization": `Bearer ${user.token}` },})
				.then(response => {
					return (this.listName = '', this.newListVisible = false)
				})
				.catch(err => alert(err.response.data.message))
		},
		removeList: function(list, id) {
			const laneSelected = this.laneData.findIndex(lane => lane._id == id)
			const confirmDelete = confirm('Are you sure you want delete the list.')
			const boardId = this.$route.params.id
			const user = userInfo.getUserData()

			if(confirmDelete) {
				axios.post(server.host + `/api/lane/remove/${boardId}`,
				{ _id: id, laneSelected: this.laneData[laneSelected - 1] || this.laneData[0] },
				{ headers: { "Authorization": `Bearer ${user.token}` },})
					.then(response => {
						return
					})
					.catch(err => alert(err.response.data.message))
			}
		},
		// do channel function
		assignUser: function(userAssigned) {
			const boardId = this.$route.params.id
			const user = userInfo.getUserData()
			
			axios.post(server.host + `/api/card/assign/${boardId}`,
			{ assignedTo: userAssigned._id, _id: this.assignCard, laneId: this.assignLaneId },
			{ headers: { "Authorization": `Bearer ${user.token}` },})
				.then(response => {
					this.assignCard = null
					this.assignLaneId = null
				})
				.catch(err => alert(err.response.data.message))
		},
		// get data to post db
		getAssignData(laneId, cardId) {
			// console.log('card to assign:', {laneId, cardId})

			// // Assign dialog data
			this.assignCard = cardId
			this.assignLaneId = laneId
		},
		closeAssign() {
			return this.assignDialog = false
		},
	},
	directives: {
		focus: {
			inserted: function(el) {
				el.focus()
			}
		}
	}
}
</script>