.fablist {
	position: fixed;
	bottom: 4em;
	right: 1em;
}

.project-lanes {
	position: relative;
	display: flex;
	justify-content: flex-start;
	white-space: nowrap;
	width: 100%;
	height: calc(100vh - 136px);
	padding: 1em;
	overflow-x: auto;
	overflow-y: hidden;
}

.draggable-lane-column {
	display: flex;
}

.lane-column {
	flex-shrink: 0;
	align-self: flex-start;
	width: 100%;
	max-width: 350px;
	margin: 0 1em;
	box-sizing: border-box;

	padding: 1em;
	background-color: #d8ecf5;
	border-radius: 10px;

	opacity: 0;
	transform: translateY(10%);
	animation: columnAppear .4s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes columnAppear {
	to {opacity: 1; transform: translateY(0)}
}

.lane-column.sortable-ghost {
  background-color: #8ba5b1;
  opacity: .3;
}

.lane-column-in {
	max-height: calc(90vh - 250px);
	min-height: 0px;
	padding: 0.5em;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all .4s;
}

.draggable-card-area {
	min-height: 64px;
}

.lane-title-editable {
	position: relative;
	height: 31px;
	cursor: pointer;
}

.lane-title-editable .column-settings {
	position: absolute;
	right: 0;
    top: -9px;
	display: none;
	z-index: 0;
}

.lane-title-editable:hover div.column-settings {
	display: block;
}

.lane-column:nth-of-type(1) .lane-title-editable:hover div.column-settings {
	display: none;
}


.lane-title {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	word-wrap: break-word;
	word-break: break-word;
	white-space: pre-wrap;
	color: #4e636c;
}

.lane-tite-changable {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	background-color: white;
	border-radius: 5px;
	z-index: 1;
}

.lane-card:not(:first-child) {
	margin-top: 1em;
}

.lane-card {
	cursor: -webkit-grab;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
	transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
	overflow: hidden;
}

.lane-card.sortable-ghost {
	background-color: #8ba5b1;
	opacity: .3;
	margin: 2em 0;
}

.card-texts {position: relative;}

.card-texts h3 {
	text-align: left;
	padding: 0.5em;
	font-size: 1.2em;
	font-weight: 400;
}

/*lane card show remove on hover*/
.lane-card:hover .card-settings {
	display: block;
}

.card-settings {
	position: absolute;
	top: 0;
	right: 0;

	display: none;
}

.lane-card > div {
	text-align: left;
}

.card-title {
	text-align: center;
	display: block;
}

.card-title,
.card-title-input,
.card-desc {
	word-wrap: break-word;
	word-break: break-word;
	white-space: normal;
}

.card-title-input {
	display: block;
	font-size: 1.19em;
	padding: .5em;
	width: 100%;
	background-color: #f6f6f6;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;	
}

.card-add-btn {
	margin-top: 1.5em;
}

.card-new {
	padding: 0.5em;
}

.card-new textarea {
	width: 100%;
	padding: 1em;
	cursor: text;
}

.new-column-btn {
	cursor: pointer;
}

.new-column {
	position: relative;
	padding: 2em .5em 0 .5em;
	margin-left: 0;
}

.lane-column-changable {
	display: block;
	background-color: white;
	width: 100%;
	border-radius: 5px;
	padding: .5em;
}

.assign-to {
	padding-left: .5em;
	color: #888;
}