<template>
    <v-layout row justify-center align-center>
        <!-- <router-link :to="'board/1'" style="text-decoration: none;" append><v-btn flat color="secondary">board</v-btn></router-link> -->
        <div class="board-selection">
            <h3 class="display-1">Boards</h3>
            <div class="my-board-list">

                <div class="board" v-for="(board, boardPosition) in boardList" :key="board._id">
                    <span>{{board.boardName}}</span>
                    <div class="delete-board">
                        <v-btn flat icon slot="activator" color="gray" @click="deleteBoard(board._id, boardPosition)">
                            <v-icon>delete</v-icon>
                        </v-btn>
                    </div>
                    <router-link class="board-link" :to="'board/' + board._id" append>
                        <v-btn color="primary">Go To Board</v-btn>
                    </router-link>
                </div>

            </div>
            <v-btn color="primary" dark @click="newBoardDialog = true">add new board</v-btn>
            <br/><br/><hr/>
            <div>
                <h3 class="display-1">Guest of</h3>                
                <div class="guestof">
                    <!-- TODO: PICK THE BOARDS THAT USER ARE INVITED TO -->
                    <div class="board" v-for="(boardGuest) in boardListGuest" :key="boardGuest._id">
                        <span>{{boardGuest.boardName}}</span>
                        <router-link class="board-link" :to="'board/' + boardGuest._id" append>
                            <v-btn color="primary">Go To Board</v-btn>
                        </router-link>
                    </div>

                </div>
            </div>
        </div>
        <v-dialog v-model="newBoardDialog" max-width="500px">
            <v-card>
                <v-form v-model="formValid" ref="form" lazy-validation>

                <v-card-title>
                <span class="headline">Add New Board</span>
                </v-card-title>
                <v-card-text>
                <v-container grid-list-md>
                    <v-layout wrap>
                    <v-flex xs12 sm12 md12>
                        <v-text-field
                            label="Board Name"
                            v-model="boardName"
                            :rules="boardNameRules"
                            :counter="25"
                            required
                        ></v-text-field>
                    </v-flex>
                    </v-layout>
                </v-container>
                </v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" flat @click.native="newBoardDialog = false">Close</v-btn>
                <v-btn color="blue darken-1" flat @click.native="submit" :disabled="!formValid">Create</v-btn>
                </v-card-actions>

                </v-form>                
            </v-card>
        </v-dialog>
    </v-layout>
</template>

<style scoped>
    .board-selection {
        width: 100%;
        max-width: 1200px;
        margin: 2em 0;
    }

    .board-selection h3 {
        text-align: left;
        margin-top: 1em;
    }

    .my-board-list {
        padding: 2em .5em;
        display: block;
    }

    .guestof {
        margin: 1em .5em;
    }

    .board {
        position: relative;
        display: inline-block;
        background-color: #d8ecf5;
        max-width: 280px;
        width: 100%;
        padding: 2em 1em;
        margin: .5em;
        border-radius: 10px;
        cursor: pointer;
    }

    .delete-board {
        position: absolute;
        display: inline-block;
        top: .5em;
        right: .5em;
        opacity: 0;
    }

    .board:hover .delete-board {
        opacity: 1;
    }

    .board-link {
        display: none;
        text-decoration: none;
        margin-top: 1em;
    }

    .board:hover .board-link {
        display: block;
    }
</style>


<script>
import axios from 'axios'
import userInfo from '@/methods/userInfo'
import server from '@/API/config.api'

export default {
    data: function() {
        return {
            newBoardDialog: false,
            formValid: false,
            boardList: [],
            boardListGuest: [],
            boardName: '',
            boardNameRules: [
                v => !!v || 'Board Name is required',
                v => (v && v.length <= 25) || 'Board Name must be less than 25 characters'
            ]
        }
    },
    created: function() {
        // before mount component, load all boards of user
        this.getBoards()
        this.getBoardsGuests()
    },
    methods: {
        submit() {
            if(this.$refs.form.validate()) {
                const user = userInfo.getUserData()

                axios.post(server.host + '/api/board/create', {
                    boardName: this.boardName,
                    id: user.user.id
                }, { headers: { "Authorization": `Bearer ${user.token}` },})
                    .then(response => {
                        this.boardList.push(response.data)
                        // reset email field and close modal
                        this.$refs.form.reset()
                        this.newBoardDialog = false
                    })
                    .catch(err => alert(err.response.data.message))
            }
        },
        getBoards() {
            const user = userInfo.getUserData()

            axios.post(server.host + '/api/board/list', {
                id: user.user.id
            }, { headers: { "Authorization": `Bearer ${user.token}` },})
                .then(response => {
                    const boards = response.data
                    this.boardList.push(...boards)
                })
                .catch(err => alert(err.response.data.message))
        },
        deleteBoard(id, index) {
            const user = userInfo.getUserData()            
            const willDelete = confirm('Are you sure that you want to delete the board?')

            if(willDelete) {
                axios.post(server.host + '/api/board/delete', {
                    id
                }, { headers: { "Authorization": `Bearer ${user.token}` },})
                    .then(response => {
                        const res = response.data
                        
                        // send alert msg and remove from DOM the board selected
                        alert(res.message)
                        this.boardList.splice(index, 1)
                    })
                    .catch(err => alert(err.response.data.message))
            }
        },
        getBoardsGuests() {
            const user = userInfo.getUserData()

            axios.post(server.host + '/api/board/showguestboards', {
                id: user.user.id
            }, { headers: { "Authorization": `Bearer ${user.token}` },})
                .then(response => {
                    const boards = response.data
                    this.boardListGuest.push(...boards)
                })
                .catch(err => alert(err.response.data.message))
        },
    }
}
</script>
