<template>
    <div>
        <Navigation/>
        <Alert/>        
        <transition name="user">
            <router-view></router-view>
        </transition>
    </div>
</template>

<style scoped>
.user-enter-active, .user-leave-active {
  transition-property: opacity;
  transition-duration: .2s;
}

.user-enter-active {
  transition-delay: .2s;
}

.user-enter, .user-leave-active {
  opacity: 0;
}
</style>

<script>
import Navigation from '@/components/navigation/Navigation'
import Alert from '@/components/alert/Alert'

export default {
    components: {
        Navigation,
        Alert
    }
}
</script>
