<template>
    <v-dialog v-model="quitDialog" max-width="500px" :persistent="true">
      <v-card>
        <v-card-title class="headline text-center">
          {{title}}
        </v-card-title>
        <v-card-text>
          <p>{{content}}</p>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="white--text blue darken-1" :depressed="true" @click="quitDialog=false" v-on:click="quitAction(true)">Yes</v-btn>
          <v-btn color=" white--text red darken-1" :depressed="true" @click="quitDialog=false" v-on:click="quitAction(false)">Cancel</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script>
export default {
  props: ['title', 'content', 'showing', 'close', 'onConfirm'],
  data: function() {
    return {
      quitDialog: this.showing
    }
  },
  watch: {
    showing: function(newVal) {
      return (this.quitDialog = newVal)
    }
  },
  methods: {
    quitAction: function(bool) {
      if(bool) {
        this.onConfirm()
      }

      this.showing = !this.quitDialog
      this.close()
    }
  }
}
</script>