<template>
    <v-container grid-list-sm>
        <v-flex xs10 xl2 md4 offset-xs1 offset-md4 offset-xl5>
            <img src="../../../assets/logo.png" alt="logo"/> 
            <v-form v-model="valid" ref="form" lazy-validation>
                <h3>Insert your e-mail and confirm your new password below.</h3>
                <v-text-field
                    label="E-mail"
                    v-model="email"
                    :rules="emailRules"
                    required
                ></v-text-field>
                <v-text-field
                    label="New Password"
                    v-model="password"
                    :rules="passwordRules"
                    type="password"
                    required
                ></v-text-field>
                <v-text-field
                    label="Confirm New Password"
                    v-model="confirmPassword"
                    :rules="confirmPasswordRules"
                    type="password"
                    required
                ></v-text-field>
                <v-flex>
                    <v-btn color="primary" @click="submit">change password</v-btn>
                    <router-link :to="'signin'" style="text-decoration: none;"><v-btn flat color="secondary">back to login page</v-btn></router-link>
                </v-flex>
            </v-form>
        </v-flex>
    </v-container>
</template>

<script>
import axios from 'axios'
import server from '../../../API/config.api'
import userInfo from '../../../methods/userInfo';

export default {
    data: function() {
        return {
            valid: true,
            email: '',
            emailRules: [
                 v => !!v || 'E-mail is required',
                 v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'Email must be valid'
            ],
            password: '',
            passwordRules: [
                 v => !!v || 'Password is required',
                 v => (v && v.length) >= 6 || 'Password must contain at least 6 characters'
            ],
            confirmPassword: '',
            confirmPasswordRules: [
                v => !!v || 'Confirm Password is required',
                v => (v && v.length) >= 6 && this.confirmPassword === this.password || 'Password must be exactly the same as Password'                
            ]
        }
    },
    methods: {
        submit () {
            if(this.$refs.form.validate()) {
                axios.post(server.host + `/resetpass/${this.$route.params['token']}`, {
                    email: this.email,
                    password: this.password
                })
                    .then(response => {
                        const res = response.data

                        // save user into the cache storage
                        userInfo.saveUserInfo(res)
                        alert(`${res.user.name}, your password was changed with success, will be redirected to the board list.`)
                        // redirect the new user to task board selection component
                        this.$router.push(`/user`)
                    })
                    .catch(err => alert(err.response.data.message))
            }
        }
    }
}
</script>