<template>
    <div class="fablist" v-show="showFabGuest">

        <div>
            <v-fab-transition>
            <v-btn
                color="pink"
                dark
                absolute
                top
                right
                fab
                @click="guestDialog = true"
            >
                <v-icon>add</v-icon>
            </v-btn>
            </v-fab-transition>
        </div>

        <v-dialog v-model="guestDialog" persistent max-width="500px">
            <v-card>
                <v-card-title>
                <span class="headline">Invite Guests</span>
                </v-card-title>
                <v-card-text>
                <v-container grid-list-md>
                    <v-layout wrap>
                    <v-flex xs12 sm12 md12>
                        <v-form v-model="guestFormValid">

                            <v-select
                                label="Guests to add"
                                multiple
                                autocomplete
                                chips
                                v-model="guests"
                                :items="guestList"
                                item-text="name"
                                item-value="_id"
                                :rules="guestsRules"
                                :loading="guestListLoading"
                                :disabled="guestListLoading">

                                <template slot="selection" slot-scope="data">
                                    <v-chip
                                        close
                                        :selected="data.selected"
                                        class="chip--select-multi"
                                        :key="data._id"
                                    >
                                    {{ data.item.name }}
                                    </v-chip>
                                </template>
                                            
                            </v-select>

                        </v-form>                        
                    </v-flex>
                    </v-layout>
                </v-container>
                </v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" flat @click.native="guestDialog = false">Close</v-btn>
                <v-btn color="blue darken-1" flat @click.native="submitGuests" :disabled="!guestFormValid">Add Guest</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

    </div>
</template>

<script>
import axios from 'axios'
import server from '@/API/config.api'
import userInfo from '@/methods/userInfo'

export default {
    props: ['author'],
    data: function() {
        return {
            showFabGuest: false,
            fabHidden: false,
            guestDialog: false,
            guests: '',
            guestList:  [],
            guestListLoading: true,
            guestFormValid: true,
            guestsRules: [
                v => v.length > 0 || 'There must be at least 1 guest added.'
            ]
        }
    },
    mounted: function() {
        // show list of users to be guest of the actual board   
        this.getUsersList()
    },
    watch: {
        author: function(newVal) {
            const user = userInfo.getUserData()            
            return this.showFabGuest = newVal === user.user.id
        }
    },
    methods: {
        getUsersList() {
            const boardId = this.$route.params.id
            const user = userInfo.getUserData()

            axios.post(server.host + `/api/board/guestList/${boardId}`, 
            { id: user.user.id },
            { headers: { "Authorization": `Bearer ${user.token}` },})
                .then(response => {
                    const res = response.data

                    this.guestList.splice(0, res.guests.length)
                    this.guestList = res.guests
                    this.guestListLoading = false                
                })
                .catch(err => alert(err.response.data.message))
        },
        submitGuests() {
            const boardId = this.$route.params.id
            const user = userInfo.getUserData()

            // turn off the dialog
            this.guestDialog = false

            axios.put(server.host + `/api/board/guestList/${boardId}`,
            {guests: this.guestList},
            { headers: { "Authorization": `Bearer ${user.token}` }})
                .then(response => {
                    const res = response.data

                    // clear guest select list
                    this.guestList = []
                    alert(res.message)            
                })
                .catch(err => alert(err.response.data.message))
        }
    }
}
</script>
