<template>
    <v-container grid-list-sm>
        <v-flex xs10 xl2 md4 offset-xs1 offset-md4 offset-xl5>
            <img src="../../../assets/logo.png" alt="logo"/> 
            <v-form v-model="valid" ref="form" lazy-validation>
                <h3>Insert your e-mail, you will receive an e-mail with an activation link.</h3>
                <v-text-field
                    label="E-mail"
                    v-model="email"
                    :rules="emailRules"
                    required
                ></v-text-field>
                <v-flex>
                    <v-btn color="primary" @click="submit">send email</v-btn>
                    <router-link :to="'signin'" style="text-decoration: none;"><v-btn flat color="secondary">back to login page</v-btn></router-link>
                </v-flex>
            </v-form>
        </v-flex>
    </v-container>
</template>

<script>
import axios from 'axios'
import server from '../../../API/config.api'

export default {
    data: function() {
        return {
            valid: true,
            email: '',
            emailRules: [
                 v => !!v || 'E-mail is required',
                 v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'Email must be valid'
            ]
        }
    },
    methods: {
        submit () {
            if(this.$refs.form.validate()) {
                axios.post(server.host + `/recoverpass/${this.email}`)
                    .then(response => {

                        alert(response.data.message)
                        // reset email field
                        this.$refs.form.reset()
                    })
                    .catch(err => alert(err.response.data.message))
            }
        }
    }
}
</script>